[Desktop Entry]
Type=Application
Categories=Game
Encoding=UTF-8
Name=AM2RLauncher
Comment=A front-end for dealing with AM2R updates and mods
Comment[de]=Ein Programm für die Handhabung mit AM2R-Updates und Mods
Comment[es]=Un front-end para organizar y controlar las actualizaciones y mods de AM2R
Comment[fr]=Une interface pour intéragir avec les mods et MAJ de AM2R
Comment[it]=Una front-end per gestire aggiornamenti e mod di AM2R
Comment[pt]=Um front-end para gerenciar mods e atualizações do AM2R
Comment[ja]=AM2Rの更新やMODを扱うためのフロントエンド
Comment[ru]=Клиент для распоряжения обновлениями и модами для AM2R
Comment[zh_CN]=一个负责管理 AM2R 的更新和 Mod 的前端
Exec=AM2RLauncher
Icon=AM2RLauncher
Terminal=false
SingleMainWindow=true
