<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AutoUpdate"
         connectionString="true"/>
    <add name="Language"
         connectionString="Default"/>
    <add name="MusicHQPC"
         connectionString="true"/>
    <add name="MusicHQAndroid"
         connectionString="false"/>
    <add name="ProfileDebugLog"
         connectionString="true"/>
    <add name="MirrorIndex"
         connectionString="0"/>
    <add name="ProfileIndex"
        connectionString="null"/>
    <add name="Width"
         connectionString="600"/>
    <add name="Height"
         connectionString="600"/>
    <add name="IsMaximized"
         connectionString="false"/>
    <add name="CustomMirrorEnabled"
         connectionString="false"/>
    <add name="CustomMirrorText"
         connectionString=""/>
  </connectionStrings> 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>