name: Build

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths-ignore: 
      - 'README.md'
  pull_request:
    branches: [ main ]
    paths-ignore: 
      - 'README.md'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        configuration: [Release]
        include:
          - os: ubuntu-latest
            COMMAND: AM2RLauncher.Gtk -p:PublishSingleFile=true -p:DebugType=embedded -r linux-x64 --no-self-contained
            ARTIFACT: AM2RLauncher/AM2RLauncher.Gtk/bin/Release/net8.0/linux-x64/publish/
          - os: macos-latest
            COMMAND: AM2RLauncher.Mac -o builds/macOS-latest
            ARTIFACT: AM2RLauncher/builds/macOS-latest
          - os: windows-latest
            COMMAND: AM2RLauncher.Wpf -r win-x86 -o builds\win86 
            ARTIFACT: AM2RLauncher\AM2RLauncher.Wpf\bin\Release\net48\win-x86\
    runs-on: ${{ matrix.os }}
    

    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.x.x
    - name: Install Mac workload 
      working-directory: ./AM2RLauncher
      run: dotnet workload install macos && dotnet workload restore
    - name: Restore dependencies
      working-directory: ./AM2RLauncher
      run: dotnet restore
    - name: Build
      working-directory: ./AM2RLauncher
      run: dotnet publish ${{ matrix.COMMAND }} -c "${{ matrix.configuration }}"
